/* .box {
    border: 5px solid darkblue;
    min-height: 150px;
    width: 200px;
  } */


/*A IMAGEM TEM 713 X 539 EU COLOCANDO O MAX-WIDTH ELA VAI FICAR NO TAMANHO ORIGINAL DELA MESMA*/
.container {
    max-width: 100%;
    border: solid 10px red;
}


